
<style type="text/css">
  .skinny label {
    font-weight: normal;
  }
</style>

<% if current_user.admin || @user.id == current_user.id %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Please add your restaurant's name" %><br>
    <%= f.text_field :rest_name, placeholder:"ex. Zouper Kitchen", class: "form-control" %>
  </div>



  <div class="field">
    <%= f.label "Please add your restaurant's hours" %><br>
    <%= f.text_field :mon, placeholder:"Monday hours", class: "form-control" %>
    <%= f.text_field :tue, placeholder:"Tuesday hours", class: "form-control" %>
    <%= f.text_field :wed, placeholder:"Wednesday hours", class: "form-control" %>
    <%= f.text_field :thu, placeholder:"Thursday hours", class: "form-control" %>
    <%= f.text_field :fri, placeholder:"Friday hours", class: "form-control" %>
    <%= f.text_field :sat, placeholder:"Saturday hours", class: "form-control" %>
    <%= f.text_field :sun, placeholder:"Sunday hours", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Please add your restaurant's address" %><br>
    <%= f.text_field :address, placeholder:"ex. 123 Main", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Please enter health score" %><br>
    <%= f.text_field :score, placeholder:"ex. 100", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Please enter web address" %><br>
    <%= f.text_field :website, placeholder:"ex. www.souperkitchen.com", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Please list all menu categories separated by a comma" %>
    <%= f.text_field :categories, placeholder: "Breakfast, Lunch, Dinner", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Please add a description of your restaurant" %><br>
    <%= f.text_area :description, placeholder:"Description here", class: "form-control" %>
  </div>


  <%= f.label "Check the Sustainability Labels that can be found on products in your restaurant:" %><br>
  <div class="field skinny">

    <%= f.check_box :cbf %><%= f.label "Certified Bird Friendly" %><br>
    <%= f.check_box :cls %><%= f.label "Certified Local Sustainable" %><br>
    <%= f.check_box :ifo %><%= f.label "IFOAM-endorsed standard Certified Organic" %><br>
    <%= f.check_box :dcb %><%= f.label "Demeter Certified Biodynamic" %><br>
    <%= f.check_box :euo %><%= f.label "European Union Organic" %><br>
    <%= f.check_box :fac %><%= f.label "Food Alliance Certified" %><br>
    <%= f.check_box :msc %><%= f.label "Marine Stewardship Council Blue Ecolabel " %><br>
    <%= f.check_box :mba %><%= f.label "Monterey Bay Aquarium Seafood Watch \“Best Choices\” " %><br>
    <%= f.check_box :phc %><%= f.label "Protected Harvest Certified" %><br>
    <%= f.check_box :rac %><%= f.label "Rainforest Alliance Certified" %><br>
    <%= f.check_box :usda %><%= f.label "USDA Certified Organic" %><br>
    <%= f.check_box :eft %><%= f.label "Ecocert Fair Trade" %><br>
    <%= f.check_box :ffs %><%= f.label "Fair Food Standards Council" %><br>
    <%= f.check_box :fl %><%= f.label "Fair for Life" %><br>
    <%= f.check_box :f %><%= f.label "Fairtrade" %><br>
    <%= f.check_box :fw %><%= f.label "FairWild Certified" %><br>
    <%= f.check_box :fjc %><%= f.label "Food Justice Certified " %><br>
    <%= f.check_box :sps %><%= f.label "Small Producers’ Symbol" %><br>
    <%= f.check_box :aga %><%= f.label "AGA Grassfed" %><br>
    <%= f.check_box :ahc %><%= f.label "American Humane Certified" %><br>
    <%= f.check_box :awa %><%= f.label "Animal Welfare Approved" %><br>
    <%= f.check_box :chr %><%= f.label "Certified Humane Raised and Handled " %><br>
    <%= f.check_box :gap %><%= f.label "Global Animal Partnership Certified" %>
  </div>
  
  <%= f.label "Other Restaurant Sustainability information:" %><br>
  <div class="field skinny">
    <%= f.check_box :compost %><%= f.label "Do you compost?" %><br>
    <%= f.check_box :recycle %><%= f.label "Do you recycle?" %><br>
    <%= f.check_box :local %><%= f.label "Do you offer local food?" %><br>
    <%= f.check_box :energy %><%= f.label "Do you use Energy Star appliances?" %><br>
    <%= f.check_box :beer %><%= f.label "Do you offer local alcohol?" %><br>

    <%= f.check_box :donatefood %><%= f.label "Do you donate excess food to charity?" %><br>
    <%= f.check_box :donatemoney %><%= f.label "Do you donate money to charity?" %><br>
    <%= f.check_box :allergy %><%= f.label "Allergen information is available upon request" %><br>
    <%= f.check_box :volunteer %><%= f.label "Do you offer volunteer opportunities to your employees?" %><br>
    <%= f.check_box :cater %><%= f.label "Does your restaurant cater?" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% else %>
<h1>You do not have access</h1>
<% end -%>
