
<% if current_user.admin || @user.id == current_user.id %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Please add your restaurant's name" %><br>
    <%= f.text_field :rest_name, placeholder:"ex. Zouper Kitchen", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% else %>
<h1>You do not have access</h1>
<% end -%>
