<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @user.rest_name %>
</p>

<p>
  <strong>Restaurant Hours:</strong>
  <%= @user.hour %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Health Score:</strong>
  <%= @user.score %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Menu Categories:</strong>
  <%= @user.categories %>
</p>

<p>
<strong>Restaurant Profile:</strong>
  <% if @user.compost == true %>
  <p>We Compost!</p>
  <% end %>
  <% if @user.recycle == true %>
  <p>Recycle</p>
  <% end %>
  <% if @user.local == true %>
  <p>WE local</p>
  <% end %>
  <% if @user.energy == true %>
  <p>Energy</p>
  <% end %>
  <% if @user.beer == true %>
  <p>Local Beer</p>
  <% end %>
  <% if @user.wine == true %>
  <p>Local Wine</p>
  <% end %>
  <% if @user.donatefood == true %>
  <p>We donate excess food</p>
  <% end %>
  <% if @user.donatemoney == true %>
  <p>We donate money to charity</p>
  <% end %>
  <% if @user.allergy == true %>
  <p>We are willing to display allergen information</p>
  <% end %>
  <% if @user.volunteer == true %>
  <p>We provide opportunity for volunteering to our employees</p>
  <% end %>
  <% if @user.cater == true %>
  <p>We will cater events</p>
  <% end %>
</p>

<p>
  <strong>Sustainaibility Labels:</strong>
  <% if @user.cob == true %>
  <p>COB</p>
  <% end %>
  <% if @user.cbf == true %>
  <p>CBF</p>
  <% end %>
  <% if @user.cls == true %>
  <p>CLS</p>
  <% end %>
  <% if @user.ifo == true %>
  <p>IFO</p>
  <% end %>
  <% if @user.dcb == true %>
  <p>DCB</p>
  <% end %>
  <% if @user.euo == true %>
  <p>EUO</p>
  <% end %>
  <% if @user.fac == true %>
  <p>FAC</p>
  <% end %>
  <% if @user.msc == true %>
  <p>MSC</p>
  <% end %>
  <% if @user.mba == true %>
  <p>MBA</p>
  <% end %>
  <% if @user.phc == true %>
  <p>PHC</p>
  <% end %>
  <% if @user.rac == true %>
  <p>RAC</p>
  <% end %>
  <% if @user.usda == true %>
  <p>USDA</p>
  <% end %>
  <% if @user.eft == true %>
  <p>EFT</p>
  <% end %>
  <% if @user.ffs == true %>
  <p>FFS</p>
  <% end %>
  <% if @user.fl == true %>
  <p>FL</p>
  <% end %>
  <% if @user.f == true %>
  <p>F</p>
  <% end %>
  <% if @user.fw == true %>
  <p>FW</p>
  <% end %>
  <% if @user.fjc == true %>
  <p>FJC</p>
  <% end %>
  <% if @user.sps == true %>
  <p>SPS</p>
  <% end %>
  <% if @user.aga == true %>
  <p>AGA</p>
  <% end %>
  <% if @user.ahc == true %>
  <p>AHC</p>
  <% end %>
  <% if @user.awa == true %>
  <p>AWA</p>
  <% end %>
  <% if @user.chr == true %>
  <p>CHR</p>
  <% end %>
  <% if @user.gap == true %>
  <p>GAP</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> 

