<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @user.rest_name %>
</p>

<p>
  <strong>Restaurant Hours:</strong><br>
  Monday: <%= @user.mon %><br>
  Tuesday: <%= @user.tue %><br>
  Wednesday: <%= @user.wed %><br>
  Thursday: <%= @user.thu %><br>
  Friday: <%= @user.fri %><br>
  Saturday: <%= @user.sat %><br>
  Sunday: <%= @user.sun %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Health Score:</strong>
  <%= @user.score %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Menu Categories:</strong>
  <%= @user.categories %>
</p>

<p>
<strong>Restaurant Profile:</strong><br>
  <% if @user.compost == true %>
  We Compost <br>
  <% end %>
  <% if @user.recycle == true %>
  We Recycle <br>
  <% end %>
  <% if @user.local == true %>
  We source locally <br>
  <% end %>
  <% if @user.energy == true %>
  We use ENERGY STAR appliances<br>
  <% end %>
  <% if @user.beer == true %>
  We offer local alcohol<br>
  <% end %>
  <% if @user.wine == true %>
  Local Wine<br>
  <% end %>
  <% if @user.donatefood == true %>
  We donate prepared food to charity<br>
  <% end %>
  <% if @user.donatemoney == true %>
  We donate money to charity<br>
  <% end %>
  <% if @user.allergy == true %>
  We provide allergen information upon request<br>
  <% end %>
  <% if @user.volunteer == true %>
  We provide opportunity for volunteering to our employees<br>
  <% end %>
  <% if @user.cater == true %>
  We offer catering services<br>
  <% end %>
</p>

<p>
  <strong>Sustainaibility Labels:</strong>
  <% if @user.cob == true %>
  <p>Certified Bird Friendly</p>
  <% end %>
  <% if @user.cbf == true %>
  <p>Certified Bird Friendly</p>
  <% end %>
  <% if @user.cls == true %>
  <p>Certified Local Sustainable</p>
  <% end %>
  <% if @user.ifo == true %>
  <p>IFOAM-endorsed standard Certified Organic</p>
  <% end %>
  <% if @user.dcb == true %>
  <p>Demeter Certified Biodynamic</p>
  <% end %>
  <% if @user.euo == true %>
  <p>European Union Organic</p>
  <% end %>
  <% if @user.fac == true %>
  <p>Food Alliance Certified</p>
  <% end %>
  <% if @user.msc == true %>
  <p>Marine Stewardship Council Blue Ecolabel</p>
  <% end %>
  <% if @user.mba == true %>
  <p>Monterey Bay Aquarium Seafood Watch “Best Choices”</p>
  <% end %>
  <% if @user.phc == true %>
  <p>Protected Harvest Certified</p>
  <% end %>
  <% if @user.rac == true %>
  <p>Rainforest Alliance Certified</p>
  <% end %>
  <% if @user.usda == true %>
  <p>USDA Certified Organic</p>
  <% end %>
  <% if @user.eft == true %>
  <p>Ecocert Fair Trade</p>
  <% end %>
  <% if @user.ffs == true %>
  <p>Fair Food Standards Council</p>
  <% end %>
  <% if @user.fl == true %>
  <p>Fair for Life</p>
  <% end %>
  <% if @user.f == true %>
  <p>Fairtrade</p>
  <% end %>
  <% if @user.fw == true %>
  <p>FairWild Certified</p>
  <% end %>
  <% if @user.fjc == true %>
  <p>Food Justice Certified</p>
  <% end %>
  <% if @user.sps == true %>
  <p>Small Producers’ Symbol</p>
  <% end %>
  <% if @user.aga == true %>
  <p>AGA Grassfed</p>
  <% end %>
  <% if @user.ahc == true %>
  <p>American Humane Certified</p>
  <% end %>
  <% if @user.awa == true %>
  <p>Animal Welfare Approved</p>
  <% end %>
  <% if @user.chr == true %>
  <p>Certified Humane Raised and Handled</p>
  <% end %>
  <% if @user.gap == true %>
  <p>Global Animal Partnership Certified</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> 

