<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>



<p>
  <strong>Tags:</strong>
  <% @meal.tag_list.each do |tag| %>
  	<p><%= tag %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
